{% extends 'base.html' %}
{% block hide_header %}True{% endblock %}
{% block title %}Sign in{% endblock %}
{% block content %}
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Sign in</button>
    </form>
    <p>Don't have an account? <a href="/signup/">Sign up</a></p>
{% endblock %} 